/*
COLORS

Primary: #006992

Grey light: #faf9f9

Grey dark:1 #999
Grey dark 2: #333

*/
:root {
  --color-primary: #006992;
  --color-primary-light: #0075a3;
  --white: #fafaff;
  --grey-light: #faf9f9;
  --grey-dark-1: #999;
  --grey-dark-2: #333;
  --main-text-color: #333;
  --main-text-size: 2rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--grey-light); }

.container {
  max-width: 120rem;
  margin: 4rem auto; }

::selection {
  background-color: var(--color-primary-light);
  color: var(--white); }

@media screen and (max-width: 900px) {
  body .brand {
    margin-bottom: 0rem; }
  .about-box {
    flex-direction: column; }
  body .project-item {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center; }
    body .project-item:not(:last-child) {
      margin-bottom: 8rem; }
    body .project-item__name {
      margin-top: 0rem;
      flex: 1 0 100%; }
    body .project-item__description {
      margin-top: 2rem;
      flex: 0 0 50%; }
    body .project-item__logo-box {
      flex: 1 0 100%;
      min-height: 10rem;
      margin-top: 3rem; }
    body .project-item__links-box {
      flex: 1 0 100%;
      justify-content: center; }
  body .repo-listing {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  body .repo-item {
    flex: 1 0 100%;
    align-items: center; }
    body .repo-item:not(:last-child) {
      margin-bottom: 2rem; }
    body .repo-item__description {
      text-align: center;
      max-width: 40rem; }
  body .nav-menu {
    width: 100%;
    opacity: 1; }
  body .page-nav {
    width: 0;
    opacity: 0;
    display: none; }
  body hr {
    margin: 5rem 0 5rem 0; }
  main + hr {
    margin: 0;
    display: none; }
  .container {
    padding: 0 2rem; }
  .heading-secondary--underline {
    text-decoration: underline; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--main-text-color); }

hr {
  margin: 10rem 0 10rem 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.brand__text {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.05rem; }

.page-nav {
  font-size: 1.6rem;
  letter-spacing: 0.1rem; }

.about-box__text {
  font-size: 2rem;
  letter-spacing: 0.05rem; }

.heading-primary {
  font-size: 2rem;
  letter-spacing: 0.05rem; }

.heading-secondary {
  font-size: 1.8rem; }

.heading-date {
  font-size: 1.5rem;
  color: var(--grey-dark-1); }

.paragraph {
  font-size: var(--main-text-size);
  letter-spacing: 0.05rem; }

.text-underline--1 {
  text-decoration: none;
  border-bottom: solid 0.2rem #f7836681; }

.text-underline--2 {
  text-decoration: none;
  border-bottom: solid 0.2rem #9ef5918f; }

.u-margin-bottom {
  margin-bottom: 4rem; }

.nav-menu {
  width: 0;
  opacity: 0; }
  .nav-menu__checkbox {
    display: none; }
  .nav-menu__button {
    background-color: var(--grey-light);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3.4rem;
    right: 0rem;
    border-radius: 50%;
    z-index: 1000;
    text-align: center;
    cursor: pointer; }
  .nav-menu__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.9rem;
    right: 0.5rem;
    z-index: 100;
    background-color: var(--grey-dark-2);
    transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
  .nav-menu__navigation {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    width: 0;
    display: none;
    transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .nav-menu__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
  .nav-menu__item {
    margin: 3rem; }
  .nav-menu__social-links {
    justify-content: space-between;
    align-items: center;
    display: flex; }
  .nav-menu__link {
    font-size: 3rem;
    font-weight: 300;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase; }
    .nav-menu__link:hover {
      border-bottom: solid 0.1rem var(--white); }
  .nav-menu__svg {
    height: 3rem;
    width: 3rem;
    fill: var(--white); }
  .nav-menu__checkbox:checked ~ .nav-menu__background {
    transform: scale(80); }
  .nav-menu__checkbox:checked ~ .nav-menu__navigation {
    opacity: 1;
    width: 100%;
    display: block; }
  .nav-menu__icon {
    position: relative;
    margin-top: 3.5rem; }
    .nav-menu__icon, .nav-menu__icon::before, .nav-menu__icon::after {
      width: 3rem;
      height: 2px;
      background-color: var(--grey-dark-2);
      display: inline-block; }
    .nav-menu__icon::before, .nav-menu__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .nav-menu__icon::before {
      top: -1rem; }
    .nav-menu__icon::after {
      top: 1rem; }
  .nav-menu__button:hover .nav-menu__icon::before {
    top: -1.2rem; }
  .nav-menu__button:hover .nav-menu__icon::after {
    top: 1.2rem; }
  .nav-menu__checkbox:checked + .nav-menu__button .nav-menu__icon {
    background-color: transparent; }
  .nav-menu__checkbox:checked + .nav-menu__button .nav-menu__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .nav-menu__checkbox:checked + .nav-menu__button .nav-menu__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.brand {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .brand__primary {
    display: flex;
    align-items: center;
    align-self: stretch; }

.logo {
  height: 4.25rem;
  padding-right: 1rem; }

.page-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .page-nav__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    align-self: stretch; }
  .page-nav__item {
    padding: 0 1.5rem; }
  .page-nav__link {
    text-decoration: none;
    color: inherit; }
    .page-nav__link:hover {
      border-bottom: solid 0.1rem #333; }
  .page-nav__icon-box {
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 1.9rem; }
  .page-nav__icon {
    height: 1.7rem;
    width: 1.7rem; }
    .page-nav__icon:hover {
      height: 1.9rem;
      width: 1.9rem; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center; }

.about-box {
  justify-content: space-between;
  display: flex; }
  .about-box > * {
    flex: 0 0 50%; }
  .about-box__description-box {
    min-height: 35rem;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex; }
  .about-box__text {
    width: 85%; }
  .about-box__skills-box {
    min-height: 35rem;
    align-content: space-around;
    flex-wrap: wrap;
    display: flex; }
  .about-box__skill-icon {
    height: 6rem;
    opacity: 0.7;
    flex: 1 0 33.33%; }
    .about-box__skill-icon:hover {
      opacity: 1; }

.project-item {
  justify-content: space-between;
  align-items: center;
  display: flex; }
  .project-item:not(:last-child) {
    margin-bottom: 3rem; }
  .project-item__name {
    width: 12rem; }
    .project-item__name a {
      color: var(--grey-dark-2);
      text-decoration: none; }
  .project-item__description {
    word-wrap: break-word;
    width: 45rem; }
  .project-item__logo-box {
    height: 8rem;
    width: 20rem;
    text-align: center; }
  .project-item__logo {
    max-width: 20rem;
    max-height: 8rem;
    vertical-align: bottom;
    opacity: 0.7; }
    .project-item__logo:hover {
      opacity: 1; }
  .project-item__links-box {
    justify-content: space-between;
    align-items: center;
    display: flex; }
  .project-item__link {
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--grey-dark-2);
    padding: 0.8rem; }
    .project-item__link:last-child {
      margin-left: 3rem; }
    .project-item__link:hover {
      background-color: #e7e6e6; }
  .project-item__svg {
    height: 2rem;
    margin-right: 0.8rem; }
  .project-item__button-text {
    font-size: 1.4rem;
    font-weight: 700; }

.repo-listing {
  justify-content: space-between;
  display: flex; }

.repo-item {
  flex-direction: column;
  flex: 0 0 33.33%;
  display: flex; }
  .repo-item__link {
    text-decoration: none;
    color: inherit; }
  .repo-item__language {
    margin-top: 0.3rem;
    text-align: center; }
  .repo-item__language-text {
    height: 1.6rem;
    line-height: 1.8rem;
    width: 6.7rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    border-radius: 0.3rem;
    background-color: var(--grey-dark-1); }
    .repo-item__language-text--ruby {
      background-color: #f387d3; }
    .repo-item__language-text--html {
      background-color: #e2574c; }
    .repo-item__language-text--javascript {
      background-color: #f1e05a; }
    .repo-item__language-text--css {
      background-color: #8a6bb4; }
  .repo-item__description {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 98%; }

.brand {
  margin-bottom: 10rem; }
