.nav-menu {
  width: 0;
  opacity: 0;

  &__checkbox {
    display: none;
  }
  &__button {
    background-color: var(--grey-light);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3.4rem;
    right: 0rem;
    border-radius: 50%;
    z-index: 1000;
    text-align: center;
    cursor: pointer;
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.9rem;
    right: 0.5rem;
    z-index: 100;
    background-color: var(--grey-dark-2);
    transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &__navigation {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

    opacity: 0;
    width: 0;
    display: none;
    transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 3rem;
  }

  &__social-links {
    justify-content: space-between;
    align-items: center;

    display: flex;
  }

  &__link {
    font-size: 3rem;
    font-weight: 300;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      border-bottom: solid 0.1rem var(--white);
    }
  }
  &__svg {
    height: 3rem;
    width: 3rem;
    fill: var(--white);
  }

  // Menu animation
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__navigation {
    opacity: 1;
    width: 100%;
    display: block;
  }

  // Menu icon
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: var(--grey-dark-2);
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1.2rem;
  }
  &__button:hover &__icon::after {
    top: 1.2rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
