.about-box {
  justify-content: space-between;

  display: flex;

  & > * {
    flex: 0 0 70%;
  }
  &__description-box {
    min-height: 35rem;
    flex-direction: column;
    justify-content: space-evenly;

    display: flex;
  }

  &__text {
    width: 85%;

    &:first-child {
      margin-bottom: 3.5rem;
    }
  }
}
