.about-box {
  justify-content: space-between;

  display: flex;

  & > * {
    flex: 0 0 50%;
  }
  &__description-box {
    min-height: 35rem;
    flex-direction: column;
    justify-content: space-evenly;

    display: flex;
  }

  &__text {
    width: 85%;
  }
  &__skills-box {
    min-height: 35rem;
    align-content: space-around;
    flex-wrap: wrap;

    display: flex;
  }
  &__skill-icon {
    height: 6rem;
    opacity: 0.7;

    flex: 1 0 33.33%;
    &:hover {
      opacity: 1;
    }
  }
}
