.repo-listing {
  justify-content: space-between;

  display: flex;
}
.repo-item {
  flex-direction: column;
  flex: 0 0 33.33%;

  display: flex;
  &__link {
    text-decoration: none;
    color: inherit;
  }
  &__language {
    margin-top: 0.3rem;
    text-align: center;
  }
  &__language-text {
    height: 1.6rem;
    line-height: 1.8rem;
    width: 6.7rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    border-radius: 0.3rem;
    background-color: var(--grey-dark-1);

    &--ruby {
      background-color: #a63b0657;
    }
    &--html {
      background-color: #e2564c86;
    }
    &--javascript {
      background-color: #f1df5abd;
    }
    &--css {
      background-color: #896bb486;
    }
  }

  &__description {
    margin: 2rem 0 1rem 0;
    width: 98%;

    p {
      margin-right: 3rem;
    }
  }
}
