body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--main-text-color);
}

hr {
  margin: 10rem 0 10rem 0;

  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.brand__text {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.page-nav {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.about-box__text {
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

.heading-primary {
  font-size: 2rem;
  letter-spacing: 0.05rem;
}
.heading-secondary {
  font-size: 1.8rem;
}

.heading-date {
  font-size: 1.5rem;
  color: var(--grey-dark-1);
}

.paragraph {
  font-size: var(--main-text-size);
  letter-spacing: 0.05rem;
}

.text-highlight--1 {
  background-color: #f7836625;
}

.text-highlight--2 {
  background-color: #f1f15236;
}

// #9ef5912a
